@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Inter:wght@300;400;600;800&display=swap');
@import "tailwindcss";


@theme {
    /* Whites & Grays */
    --color-offWhite: #F0F4F8;
    --color-softWhite: #FAFAFA;
    --color-charcoalBlack: #1E1E1E;
    --color-slateGray: #5A6A78;
    --color-lightGray: #E1E8F0;

    /* Brand Colors */
    --color-deepBlue: #004B8D;
    --color-navyBlue: #002B50;
    --color-lightBlue: #0A6DDC;
    --color-darkGreen: #1f781a;

    

    /* Accent Colors */
    --color-vibrantGreen: #2ECC40;
    --color-crimsonRed: #E74C3C;
    --color-amberOrange: #F39C12;

    /* Blue Tints */
    --color-blueSlate: #BCD3E4;
    --color-blueGray: #D4E0EB;
    --color-blueTinted: #E7F0F7;
    --color-whiteMist: #F4F8FB;

    /* Fonts */
    --font-heading: "Montserrat", sans-serif;
    --font-body: "Inter", sans-serif;
}

@layer base {
    * {
        @apply  font-body m-0 p-0 box-border;
    }
    
}

@layer components {
    .page-title {
        @apply tracking-tight text-xl sm:text-2xl md:text-3xl font-bold text-charcoalBlack mb-4 lg:mb-2;
    }

    .page-description {
      @apply text-slate-500 text-sm mt-1;
    }

    .title {
      @apply text-navyBlue font-bold text-lg tracking-tight;
    }

    .default-container {
        @apply p-6 bg-softWhite border border-gray-300 rounded-2xl shadow-sm;
    }

    .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hide default password reveal icon (Edge/Chrome) */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}


}

@layer utilities {
@keyframes slide-in {
  0% { opacity: 0; transform: translateY(20%); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

@keyframes scanner-line {
          0% { top: 0; box-shadow: 0 0 4px rgba(239,68,68,0.8); }
          50% { top: 100%; box-shadow: 0 0 4px rgba(239,68,68,0.8); }
          100% { top: 0; box-shadow: 0 0 4px rgba(239,68,68,0.8); }
        }
        .animate-scanner-line {
          animation: scanner-line 2.5s linear infinite;
        }


}



